.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Navbar li {
  margin-left: 30px;
}

.Navbar a {
  text-decoration: none;
}
.LittleLemonLogo{
  align-self: center;
};

.FooterWrapper {
  text-align: center;
}

.FooterLogo, .FooterSection {
  display: inline-block;
  vertical-align: top;
  width: 23%; /* This makes the blocks equal. */
  margin: 0 1%;
}

.FooterSection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
