html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.FirstWrapper{
  display: flex;
  justify-content: space-between;
  padding-left: 3rem;
  align-items: center;
  padding-right: 3rem;
}
.CardNamePrice{
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
  align-items: center;
}


.CardContent p {
  color: #495E57;
}

.CardContent {
  padding-left: 3rem;
}

.CardPrice{
  color: #EE9972;
}
.CardDelivery{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.CardBody{
  background-color: #EDEFEE;
  padding-bottom: 20px;
  border-radius: 20px;
  width: 330px;
}

.SecondWrapper{
  display: flex;
  gap:2%;
  justify-content: center;
  padding-bottom: 4%;
}

.CardBody img {
  border-top-left-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-right-radius: 20px;
}

.ChicagoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
  width: 100%;
  box-sizing: border-box;
  gap: 5%;
  padding: 3rem;
}

.AboutWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  gap: 5%;
  padding: 3rem;
}


.TextWrapper {
    color: #fff;
    padding: 2%;
    flex-basis: 45%;
    max-width: 600px;
}

.FooterLogo img {
  margin-top: 20px;
  max-width: 200px;
}


.TextWrapper h1, .TextWrapper h2 {
  margin: 0;
}

.TextWrapper p {
  margin-top: 10px;
  line-height: 1.5;
  max-width: 400px;
}

.ChicagoImage{
  border-radius: 12px;
  box-shadow: -2px 4px 6.6px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  width: 300px;
}

.AboutImage{
  border-radius: 12px;
  box-shadow: -2px 4px 6.6px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  width: 600px;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Navbar li {
  margin-left: 30px;
}

.Navbar a {
  text-decoration: none;
}
.LittleLemonLogo{
  align-self: center;
};

.FooterWrapper {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
}


.FooterLogo, .FooterSection {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 0 1%;
  padding-left: 20px;
}

.FooterSection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.TestimonialW{
  background-color: #F4CE14;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
  justify-content: center;
  Gap: 1%;
  display: flex;
}
.TCardWrapper{
  background-color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 12px;
  padding: 10px;
  padding-left: 20px;
}

.TH3{
  color:#F4CE14;
}
.TWrapper{
  display:flex;
  gap: 15px;
}

.TCardWrapper p {
  color: black;
}

@media (max-width: 1400px){
  .PrimaryHeader{
    padding: 0px;
    font-size:64px;
  }
}


@media (max-width: 768px) {
  .FooterWrapper {
    display: block;
    text-align: center;
  }
  .ChicagoWrapper {
    flex-direction: column;
    padding: 10%;
}

.TextWrapper, .ChicagoImage {
    max-width: 100%;
    flex-basis: 100%;
}

.ChicagoButton {
    width: 100%;
}

  .FooterLogo, .FooterSection {
    display: block;
    width: 100%;
    margin: 20px 0;
  }

  .FooterSection ul {
    text-align: center;
  }
}

/* Global Styles */
body {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  color: #333;
}

/* Markazi Text for Display Titles */
h1, h2, h3 {
  font-family: 'Markazi Text', serif;
}

/* h1 - Display Title - Medium 64pt */
h1 {
  font-size: 64px;
  font-weight: 500; /* Medium weight */
}
.PrimaryHeader{
  color: #F4CE14;
}

.PrimaryAboutHeader{
  color: #F4CE14;
}
.AboutWrapper h2{
  color:black;
}
.AboutWrapper p{
  color:black;
}
/* h2 - Subtitle - Regular 40pt */
h2 {
  font-size: 40px;
  font-weight: 400; /* Regular weight */
  color: white;
}

/* h3 - Section Title! Uppercase 20pt Extra Bold */
h3 {
  font-size: 20px;
  font-weight: 700; /* Extra Bold weight */
  text-transform: uppercase;
}

/* Karla for other text elements */
h4 {
  font-family: 'Karla', sans-serif;
  font-size: 18px; /* Medium 18pt */
  font-weight: 500;
}

/* Special Section Title 16pt Bold */
h5 {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* Paragraph text - Regular 16pt */
p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 65ch; /* Max 65 characters per line */
  color: white;
}

.ChicagoButton {
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  background-color: #f4ce14;
  border: none;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 20px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}



.ChicagoButton:hover {
  background-color: #dda511;
}

.highlight {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 500; /* Medium weight */
}

a {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400; /* Regular weight */
  text-decoration: none; /* Remove underline */
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: #000;
}
